.JobBoard-Layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 10vmin;
    padding-right: 10vmin;
}

.JobBoard-Title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1vmin;
}

.JobBoard-Board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1vmin;
}

.JobBoard-Actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1vmin;
}

.JobBoard-RefreshButton {
    width: 5vmax;
    height: 5vmax;
    max-width: 36px;
    max-height: 36px;
    cursor: pointer;
}

.JobBoard-RefreshButton-spin {
    width: 5vmax;
    height: 5vmax;
    max-width: 36px;
    max-height: 36px;
    cursor: pointer;

    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}