.JobBoard-Layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 10vmin;
    padding-right: 10vmin;
}

.JobBoard-Title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1vmin;
}

.JobBoard-Board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1vmin;
}

.JobBoard-Actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1vmin;
}

.JobBoard-RefreshButton {
    width: 5vmax;
    height: 5vmax;
    max-width: 36px;
    max-height: 36px;
    cursor: pointer;
}

.JobBoard-RefreshButton-spin {
    width: 5vmax;
    height: 5vmax;
    max-width: 36px;
    max-height: 36px;
    cursor: pointer;

    animation: spin 1s infinite linear;
}

.JobBoard-Item-JobID {
    cursor: pointer;
}

.JobBoard-JobResultWidget {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 1vmin;
    padding: 2vmin;

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.JobBoard-JobResultWidget img {
    margin-right: 2vmin;
    border-radius: 1vmin;
    max-width: 20vmin;
}

.JobBoard-JobResultWidget p {
    margin-top: 1vmin;
    max-width: 20vmin;
    margin-bottom: 1vmin;
}

.JobBoard-JobResultWidget-Left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.JobBoard-JobResultWidget-Right {
    width: 100%;
    height: 100%;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}